body {
    background-color: rgb(244,234,255);
    font-family: 'Robot', sans-serif;
} 

h1 {
    font-size: 52px;
    color: rgb(88,49,196);
}
header{
    text-align: center;
}
header img {
    width: 300px;
}