body {
  background-color: rgb(244, 234, 255);
  font-family: "Robot", sans-serif;
}

h1 {
  font-size: 52px;
  color: rgb(88, 49, 196);
}
header {
  text-align: center;
  padding: 32px;
}
header img {
  width: 300px;
}
main {
  background-color: rgb(122, 74, 218);
  padding: 30px;
  width: 550px;
  margin: 30px auto;
  border-radius: 9px;
  color: rgb(240, 241, 244);
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  margin: 13px 0;
  padding-left: 10px;
  border-left: 5px solid transparent;
}
.extra-important {
  color: rgb(255, 237, 177);
  border-color: rgb(247, 209, 85);
}

a {
  text-decoration: none;
  color: rgb(36, 3, 102);
  background-color: rgb(255, 237, 177);
  padding: 2px 6px;
  border-radius: 4px;
}
a:hover,
a:active {
    background-color: rgb(250,201,41);
}
.highlight {
  font-weight: bold;
}
footer {
    text-align: center;
}

footer p {
    color: rgb(131,113,148);
    margin-top: 30px;

}
footer a {
    padding: 12px 20px;
    border-radius: 8px;
    background-color: rgb(250,201,41);
    color: rgb(66,51,4);
}
footer a:hover,
footer a:active {
    background-color: rgb(255, 237, 177);
    
}